@import "./../../../scss/abstracts/elements";
@import "./../../../scss/abstracts/mixins";
@import "./../../../scss/abstracts/variables";

.label {
    @include text(26px, 400, 39px);
    color: #C4C4C4;
    display: block;
}
.input {
    max-width: 765px;
    width: 100%;
    height: 50px;
    display:block;
    background-color: transparent;
    border-bottom: 1px solid $tertiaryColor;
    color: $tertiaryColor;
    @include text(22px, 400, 30px);
    margin-bottom: 25px;

}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill {
    @include text(26px, 400, 39px);
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,174,255,0.04) 50%,rgba(255,255,255,0) 51%,rgba(0,174,255,0.03) 100%);  
}

