@import "./../../../scss/abstracts/elements";
@import "./../../../scss/abstracts/mixins";
@import "./../../../scss/abstracts/variables";


.portfolio {
    height: 100vh;
    @media screen and (max-width: 900px)  { 
        height: auto;
        padding-bottom: 50px;
    }
    .wrapper {
        height: 100%;
        display: flex;
        @media screen and (max-width: 900px)  { 
            flex-direction: column;
            height: auto;
        }
        .leftBlog {
            width: 19%;
            height: 100%;
            background-color: $primaryColor;
            display: flex;
            justify-content: center;
            align-items: center;
            @media screen and (max-width: 900px)  { 
                transform: rotate(0deg);
                width: auto;
                margin: 50px;
            }
            @media screen and (max-width: 550px)  { 
                transform: rotate(0deg);
                width: auto;
                margin: 30px 50px;
            }
            .title {
                font-family: $ArchivoBlack;
                @include text(60px, 400, 65px);
                letter-spacing: 6px;
                transform: rotate(-90deg);
                @media screen and (max-width: 900px)  { 
                    transform: rotate(0deg);
                    padding: 30px 0;
                }
                @media screen and (max-width: 550px)  { 
                    @include text(33px, 400, 35px);
                }
            }
        }
        .rightBlog {
            width: 81%;
            height: 100%;
            background-color: $backgroundColor;
            overflow: scroll;
            display: flex;
            align-items: center;
            padding: 0 20px;
            @media screen and (max-width: 900px)  { 
                width: 100%;
            }
            .content {
                display: flex;
                align-items: flex-start;
            }
            .portfolioItem {}
        }
    }
}