@import "./../../../scss/abstracts/elements";
@import "./../../../scss/abstracts/mixins";
@import "./../../../scss/abstracts/variables";


.portfolio {
    min-height: 100vh;
    .wrapper {
        display: flex;
        @media screen and (max-width: 1050px)  { 
            flex-direction: column;
        }
        .leftBlog {
            min-width: 387px;
            background-color: $primaryColor;
            display: flex;
            justify-content: center;
            align-items: center;
            @media screen and (max-width: 1050px)  { 
                transform: rotate(0deg);
                min-width: auto;
                margin: 50px;
            }
            @media screen and (max-width: 550px)  { 
                transform: rotate(0deg);
                margin: 30px 50px;
            }
            span {
                font-family: $ArchivoBlack;
                @include text(53px, 400, 53px);
                letter-spacing: 3px;
                transform: rotate(-90deg);
                span {
                    transform: rotate(180deg);
                }
                @media screen and (max-width: 1050px)  { 
                    transform: rotate(0deg);
                    padding: 15px 0;
                }
                @media screen and (max-width: 550px)  { 
                    @include text(33px, 400, 30px);
                }
            }
        }
        .rightBlog {
            width: 81%;
            min-height: 100vh;
            background-color: $backgroundColor;
            overflow: scroll;
            display: flex;
            align-items: center;
            padding: 50px 20px;
            @media screen and (max-width: 1050px)  { 
                width: 100%;
            }
            .content {
                display: flex;
                align-items: flex-start;
            }
            .portfolioItem {}
        }
    }
}