// $way-img: '../assets/images';
$way-fonts: './../../assets/fonts';

// font
$PoppinsRegular:'PoppinsRegular';
$PoppinsMedium:'PoppinsMedium';
$PoppinsSemiBold:'PoppinsSemiBold';
$PoppinsBold:'PoppinsBold';

// color
$backgroundColor: #0A0707;
$primaryColor: #251170;
$secondaryColor: #E67FEF;
$tertiaryColor:#FFFFFF;
// $accentColor:#E67FEF;



