@import "./../../../scss/abstracts/elements";
@import "./../../../scss/abstracts/mixins";
@import "./../../../scss/abstracts/variables";

.titleH2 {
    @include text (26px, 500, 39px);
    position: relative;
    padding-left: 120px;
    // MD на width
    @media screen and (max-width: 1170px)  { 
        @include text (20px, 500, 20px);
        padding-left: 60px;
    }
    @media screen and (max-width: 750px)  { 
        @include text (14px, 500, 14px);
        padding-left: 40px;
    }
    &::before {
        content: "";
        width: 100px;
        height: 3px;
        background-color: $secondaryColor;

        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        // MD на width
        @media screen and (max-width: 1170px)  { 
            width: 50px;
        }
        @media screen and (max-width: 750px)  { 
            width: 30px;
        }
    }
}