@import "./../../../../scss/abstracts/elements";
@import "./../../../../scss/abstracts/mixins";
@import "./../../../../scss/abstracts/variables";

.home {
    height: 100vh;
    background-color: #000;
    padding: 50px;
    display: flex;
    align-items: center;
    .wrapper {
        .inner {
            display: flex;
            flex-wrap: inherit;
            overflow: hidden;
            max-height: 100%;
            .content {
                display: flex;
                justify-content: center;
                flex-direction: column;
                padding: 5%;
                background-color: #251170;
                .decor {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                }
            }
            .photo {
                display: flex;
                align-items: flex-end;
                justify-content: flex-end;
                padding: 0;
                overflow: hidden;
                .img {
                    max-width: 100%;
                }
            }
        }
    }
}